Source: liblnk
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/liblnk/

Package: liblnk
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access the Windows Shortcut File (LNK) format
 liblnk is a library to access the Windows Shortcut File (LNK) format.

Package: liblnk-dev
Section: libdevel
Architecture: any
Depends: liblnk (= ${Source-Version})
Description: Header files and libraries for developing applications for liblnk
 Header files and libraries for developing applications for liblnk.

Package: liblnk-tools
Section: utils
Architecture: any
Depends: liblnk (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Windows Shortcut Files (LNK)
 Several tools for reading Windows Shortcut Files (LNK).

Package: liblnk-python
Section: python
Architecture: any
Depends: liblnk (= ${Source-Version}), ${shlibs:Depends}
Description: Python bindings for liblnk
 Python bindings for liblnk.

